@mixin gradient {
    background: #ff6f00; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ff6f00 0%, #ffc076 20%, #ffe1c6 40%, #fff9fd 60%, #e0e7ff 80%, #ccdbff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ff6f00 0%,#ffc076 20%,#ffe1c6 40%,#fff9fd 60%,#e0e7ff 80%,#ccdbff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ff6f00 0%,#ffc076 20%,#ffe1c6 40%,#fff9fd 60%,#e0e7ff 80%,#ccdbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6f00', endColorstr='#ccdbff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
page-color-picker {
    .wrapper {
        margin: 50px auto;
        width: 300px;
        height: 300px;
        .cpWrapper {
            width: 300px;
            height: 300px;
            @include gradient;
            border-radius: 50%;
            vertical-align: middle;
            text-align: center;
            display: table-cell;
            .cpInside {
                display: inline-block;
                height: 200px;
                width: 200px;
                background-color: white;
                border-radius: 50%;
            }
        }
    }
}
